.DS_Store
.RData
.Rhistory
.Rproj.user/
*.log
*.fastq
*.pptx
*.pdf
*.fasta*
*.bed
*.gtf
*.xlsx
*.tar.gz
*.bam*
*.zip
*.html
*.docx
*.fna*
README_bbduk
README_blastn
README_bowtie
README_bowtie2_scores
README_cutadap
README_parse_macs2
TK_58.Rproj
bam/
data/
histograms/
macs2/
raw_fastq/
test/
test_distribution/
trimmed_reads/
bbduk.sh
bbduk2.sh
out.hist
out.histogram
sample_prefix.txt
test.bbduk2.stats
test.summary
test.tmp
test_1P
test_1U
test_2P
test_2U
test_vs_tag_and_primers.bn
tmp
tmp.mapped_40.read_ids
tmp.mapped_below_40.read_ids
tmp.out
trimmed.tmp
Plots/
depth/
igv_screenshots/
